/*公共页头*/
@media only screen and (min-width:769px){
	#header{
        position:relative;
    }
}
.scrolled .sidebar-box.fixed{
	display:block;
}
.header-subsite-logo+.header-nav {
    width: -webkit-calc(100% - 400px);
    width: -moz-calc(100% - 400px);
    width: calc(100% - 400px);
}

.header-nav .header-nav-list>li>a {
    line-height: 30px;
}

.header-top {
    width: auto;
    text-align: left;
}

#header .header-subsite-tools .header-subsite-right-item.active {
    color: #c7000b!important;
}

.header-subsite-tools .header-subsite-right-item li>a {
    padding: 0;
    padding-left: 0px;
}

.header-subsite-tools .header-subsite-right-item-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.logined .header-subsite-tools .header-subsite-right-item.active .header-subsite-right-item-menu {
    display: block;
}

#header .header-subsite-tools li.header-subsite-right-item {
    color: #575D6C;
    position:relative;
    float: left;
    padding-right:14px;
    margin-right: 20px;
}

#header .header-subsite-tools li.header-subsite-right-item:last-child{
	padding-right:0;
	margin-right: 0px;
}

#header.logined .header-subsite-tools li.header-subsite-right-item{
	padding-right:14px;
}

.header-subsite-tools li.header-subsite-right-item a.unhide:after {
    content: "";
    position: absolute;
    top: 14px;
    right: 8px;
    width: 6px;
    height: 6px;
    background-color: #c7000b;
    border-radius: 50%;
}

#header_cloud_seller_center{
	margin-right: 0;
}

#header_cloud_seller_center:after{
    position:absolute;
    content:"";
    display:none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAElBMVEVHcExhYW1YXmxXXm1daHRXXWxN3zriAAAABXRSTlMAFdS/FrilO9YAAAA+SURBVBjTY2AYGMBsCCKFDSCcIAEGBkZVCIdRVZGBQQgkAgJABlgAJgWXAEnBJUBSCAkGBidFJKtYBGjgfgDYdQUNEq/6yQAAAABJRU5ErkJggg==);
    -o-background-size: 100% 100%;
       background-size: 100% 100%;
    right: -2px;
    top: -webkit-calc(50% - 6px);
    top: -moz-calc(50% - 6px);
    top: calc(50% - 6px);
    width: 12px;
    height: 12px;
}

.logined #header_cloud_seller_center:after{
	display:inline-block;
}

#header_cloud_seller_center.active:after{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
         transform: rotateX(180deg);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAElBMVEVHcEzOAAzIAAzIAAvRAAzHAAt43zAaAAAABXRSTlMAFdS/FrilO9YAAAA+SURBVBjTY2AYGMBsCCKFDSCcIAEGBkZVCIdRVZGBQQgkAgJABlgAJgWXAEnBJUBSCAkGBidFJKtYBGjgfgDYdQUNEq/6yQAAAABJRU5ErkJggg==);
    -o-background-size: 100% 100%;
       background-size: 100% 100%;
}

.header-tools-list .menu-user-list .menu-user-btn {
    height: 32px;
    line-height: 32px;
}

.header-subsite-right-item-menu ul .menu-user-tit:hover,
.header-subsite-tools .header-subsite-right-item-menu ul>li>a:hover {
    color: #c7000b;
    cursor: pointer;
}

.header-subsite-right-item-menu ul {
    padding: 0;
}

.header-subsite-right-item-menu ul .menu-user-tit {
    position: relative;
    padding: 0;
    padding-left: 0px;
    font-size: 14px;
    margin-top: 0;
    height: 30px;
    line-height: 30px;
    color: #252B3A;
    font-weight: 600;
}

.header-tools-list .menu-user-list {
    height: auto;
    padding: 0;
    font-size: 14px;
}

.header-subsite-tools .header-subsite-right-item-menu>ul>li.menu-user-list, .header-tools-list .menu-user-list{
    color: #252b3a;
}

.header-subsite-right-item-menu ul {
    padding: 5px 0;
    margin: 0 16px;
    border-bottom: 1px solid #DFE1E6;
}

.header-subsite-right-item-menu ul:last-child{
    border-bottom: none;
}

.header-subsite-right-item-menu ul .menu-user-list {
    display: none;
}

.header-subsite-right-item-menu ul.active .menu-user-list {
    display: list-item;
}

.header-subsite-tools .header-subsite-right-item-menu {
    background: transparent;
    box-shadow: none;
}

.header-subsite-right-item-menu .menu-user-title-customize {
    padding: 10px 0;
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(174,186,208,0.27);
}

.header-subsite-right-item-menu ul .menu-user-tit:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 0;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    -webkit-transform-origin: 0 6px;
    -moz-transform-origin: 0 6px;
     -ms-transform-origin: 0 6px;
      -o-transform-origin: 0 6px;
         transform-origin: 0 6px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAElBMVEVHcExhYW1YXmxXXm1daHRXXWxN3zriAAAABXRSTlMAFdS/FrilO9YAAAA+SURBVBjTY2AYGMBsCCKFDSCcIAEGBkZVCIdRVZGBQQgkAgJABlgAJgWXAEnBJUBSCAkGBidFJKtYBGjgfgDYdQUNEq/6yQAAAABJRU5ErkJggg==);
    -o-background-size: 100% 100%;
       background-size: 100% 100%;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
         transform: rotateX(0deg);
}

.header-subsite-right-item-menu ul.active .menu-user-tit:after{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
         transform: rotateX(180deg);
}

.header-subsite-right-item-menu ul:hover .menu-user-tit:after {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAElBMVEVHcEzOAAzIAAzIAAvRAAzHAAt43zAaAAAABXRSTlMAFdS/FrilO9YAAAA+SURBVBjTY2AYGMBsCCKFDSCcIAEGBkZVCIdRVZGBQQgkAgJABlgAJgWXAEnBJUBSCAkGBidFJKtYBGjgfgDYdQUNEq/6yQAAAABJRU5ErkJggg==);
    -o-background-size: 100% 100%;
       background-size: 100% 100%;
}

.header-subsite-tools .header-tools-list{
    font-size: 14px;
}

.footer-service-wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
	#header .header-login-mobile{
		display:none;
    }
    .header-top .header-main .header-logo-outer .header-logo img{
		font-variant: normal;
    }
    .logined .header-top .header-main .header-tools .header-tools-list .header-user{
		display:none;
    }
    .header-tools-list .header-menu-search-mb{
        display:none;
    }
    .header-top{
        border-bottom: none;
    }
    .header-mbshearch-innner{
        font-size: 14px;
    }
    .header-login-tools,
    .header-login-tools-logined {
        font-size: 14px;
        text-align: center;
        margin-top: 64px;
        color: #fff;
    }
    .header-login-tools a,
    .header-login-tools-logined a {
        padding: 0 20px;
    }
    .header-login-tools-logined img {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }
    .header-login-tools a:active,
    .mobile-logout:active {
        color: #C7000B;
    }
    .header-login-tools a:first-child,
    .header-login-tools-logined a:first-child {
        border-right: 1px solid #999;
    }
    .logined .header-login-tools,
    .header-login-tools-logined {
        display: none;
    }
    .logined .header-login-tools-logined,
    .header-login-tools {
        display: block;
    }
    .header-collapse-level1.now>.header-collapse-head a {
        color: #C7000B;
    }
    .header-collapse-level1.now>.header-collapse-head a:active {
        color: #fff;
    }
    #header .header-menu-mb {
        float: right;
    }
    .header-top .header-main .header-logo-outer .header-logo{
    	-o-background-size: auto;
    	   background-size: auto;
    }
    #header .header-main {
        text-align: center;
        position: relative;
    }
    .header-main-title {
        height: 48px;
        line-height: 48px;
        font-size: 16px;
        display: block;
        color: #252b3a!important;
        position: absolute;
        z-index: -1;
        text-align: center;
        width: 100%;
        left: 0;
    }
    .header-top .header-main .header-tools .header-subsite-mobile-title{
    	display: none;
    }
    .header-top .header-main .header-tools .header-tools-list .header-login-mobile-show .header-user-info{
        padding-top:0;
    }
    .header-user-mobile{
        padding:0 15px;
        text-align: left;
    }
    .header-user-mobile>.header-collapse{
        border-bottom: 1px solid #DFE1E6;
    }
    .header-user-mobile .header-collapse-head a:hover{
        color: #C7000B;
    }
    .header-user-mobile .header-collapse-head a:hover .header-icon-arrow-down:before{
        border-color: #C7000B;
    }
    .header-user-mobile .header-collapse-body{
        padding-left:10px;
    }
    .header-user-mobile .header-collapse-level1{
        padding:16px 0;
    }
    .header-top .header-main .header-tools .header-tools-list .header-login-mobile-show .user-unlogin .header-user-info-list{
        padding:20px 15px;
    }
    .header-top .header-main .header-tools .header-tools-list .header-user .header-user-info .bottom-username{
    	text-align: left;
    }
    .header-top .header-main .header-tools .header-tools-list .header-user .header-user-info-list>li{
    	padding-top: 14px;
    }
    .header-user-mobile .header-collapse-body .header-collapse-content{
    	padding-left: 0;
    }
	.header-top .header-main .header-tools .header-tools-list .header-user .header-user-info-list>li:hover>a{
		color:#252b3a;
    }
	.header-top .header-main .header-tools .header-tools-list .header-user .header-user-info-list>li>a.logout-btn:hover{
		color:#c7000b;
    }
}
/*banner*/
.developer-banner .poster-content{
    max-width: 1280px;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
    position: relative;
    height: auto;
}
@media only screen and (max-width:1439px){
	.developer-banner .poster-content{
		max-width: 1200px;
    }
}
.developer-banner .poster-caption{
    font-size: 40px;
    color: #252b3a;
    line-height: 50px;
    margin-bottom: 8px;
}
.developer-banner .poster-text{
    font-size: 14px;
    color: #575D6C;
    line-height: 22px;
}

.developer-banner .poster-text.mb-poster{
    display:none;
}
.developer-banner .poster-content-box{
    padding-top: 0;
    text-align: left;
    margin:unset;
}

@media only screen and (max-width: 768px) and (min-width:320px){
    .developer-banner .poster-text.mb-poster{
        display: block;
    }
    .developer-banner .poster-text.pc-poster{
        display: none;
    }
    .developer-banner .poster-caption {
        font-size: 24px;
        color: #252B3A;
        line-height: 30px;
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    }
    .developer-banner .poster-text {
        font-size: 12px;
        margin-bottom: 16px;
        line-height: 18px;
    }
    .developer-banner .poster-content {
        margin: auto 15px;
    }
}

/*按钮*/
.developer-btns {
  display: inline-block;
  background: transparent;
  border: solid 1px transparent;
  outline: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  height: 32px;
  font-size: 12px;
  line-height: 30px;
  padding: 0 24px;
  border-radius: 2px;
  cursor: pointer;
}
.developer-btns.btn-small {
  height: 28px;
  font-size: 12px;
  line-height: 26px;
  padding: 0 20px;
  border-radius: 2px;
}
.developer-btns.btn-large {
  height: 40px;
  font-size: 14px;
  line-height: 38px;
  padding: 0 32px;
  border-radius: 2px;
}
.developer-btns.btn-red,
.developer-btns.red-btn {
  background-color: #C7000B;
  border-color: #C7000B;
  color: #ffffff;
}
.developer-btns.btn-red:hover,
.developer-btns.red-btn:hover {
  background-color: #d64a52;
  border-color: #d64a52;
  color: #ffffff;
  box-shadow: 0 8px 6px -4px rgba(246, 111, 106, 0.5);
}
.developer-btns.btn-red[disabled],
.developer-btns.btn-red.developer-btn-disabled,
.developer-btns.red-btn[disabled],
.developer-btns.red-btn.developer-btn-disabled{
  background-color: #f5f5f6;
  border-color: #dfe1e6;
  color: #dfe1e6;
  box-shadow: none;
}
.developer-btns.btn-white,
.developer-btns.white-btn {
  background-color: transparent;
  border-color: #C7000B;
  color: #C7000B;
}
.developer-btns.btn-white:hover,
.developer-btns.white-btn:hover {
  background-color: #C7000B;
  border-color: #C7000B;
  color: #ffffff;
}
.developer-btns.btn-white[disabled],
.developer-btns.btn-white.developer-btn-disabled,
.developer-btns.white-btn[disabled],
.developer-btns.btn-white.developer-btn-disabled{
  background-color: #f5f5f6;
  border-color: #dfe1e6;
  color: #dfe1e6;
}
.developer-btns.btn-gray,
.developer-btns.gray-btn {
  border-color: #8a8e99;
  color: #575d6c;
}
.developer-btns.btn-gray:hover,
.developer-btns.gray-btn:hover {
  background-color: #C7000B;
  border-color: #C7000B;
  color: #ffffff;
}
.developer-btns.btn-gray[disabled],
.developer-btns.btn-gray.developer-btn-disabled,
.developer-btns.gray-btn[disabled],
.developer-btns.gray-btn.developer-btn-disabled {
  background-color: #f5f5f6;
  border-color: #dfe1e6;
  color: #dfe1e6;
}
.developer-btns.btn-light,
.developer-btns.light-btn {
  border-color: #ffffff;
  color: #ffffff;
}
.developer-btns.btn-light:hover,
.developer-btns.light-btn:hover {
  background-color: #C7000B;
  border-color: #C7000B;
  color: #ffffff;
}
.developer-btns.btn-light[disabled],
.developer-btns.btn-light.v6-btn-disabled,
.developer-btns.light-btn[disabled],
.developer-btns.light-btn.developer-btn-disabled {
  background-color: #666666;
  border-color: #666666;
  color: #adb0b8;
}
@media only screen and (max-width: 768px){
	.developer-btns.btn-small {
	  height: 28px;
	  font-size: 12px;
	  line-height: 26px;
	  padding: 0 20px;
	  border-radius: 2px;
	}
	.developer-btns.btn-large {
	  height: 28px;
	  font-size: 12px;
	  line-height: 26px;
	  padding: 0 20px;
	  border-radius: 2px;
	}
}

/*弹框样式*/
.developer-modal.modal-cover{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.3);
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    font-size: 0;
}
.modal-cover.show {
    display: block;
}
.modal-cover .modal-detail-block {
    width: 400px;
    opacity: 1;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: auto;
    padding: 32px;
    display: none;
}
.modal-cover .modal-detail-block .modal-title {
    font-size: 18px;
    color: #252b3a;
    text-align: left;
    height: 26px;
    line-height: 26px;
    position: relative;
    padding-left: 32px;
}
.modal-cover .modal-detail-block .modal-title:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 1px;
    position: absolute;
}
.modal-cover .modal-detail-block .modal-title.failed:before{
    background: url(./../images/common/icon-failed.svg) no-repeat center/cover;
}
.modal-cover .modal-detail-block .modal-title.warning:before{
    background: url(./../images/common/icon-warning.svg) no-repeat center/cover;
}
.modal-cover .modal-detail-block .modal-title.succeed:before{
    background: url(./../images/common/icon-succeed.svg) no-repeat center/cover;
}
.modal-cover .modal-detail-block .warning-box {
    padding: 12px 0 28px;
    min-height: 76px;
}
.modal-cover .modal-detail-block .warning-box .msg-block{
    font-size: 12px;
    font-weight: 400;
    color: #575D6C;
    line-height: 18px;
}
.modal-cover .modal-detail-block .warning-box .warning-detail {
    display: block;
    width:100%;
}

.modal-cover .modal-detail-block .warning-box .warning-detail a[href]{
    color:#526ECC;
}

.modal-cover .modal-detail-block .warning-box .warning-detail a[href]:hover{
    text-decoration:underline;
}

.modal-cover .modal-detail-block .btn-block {
    text-align: center;
    padding:0;
}
.modal-cover .modal-detail-block .btn-block .btn-white {
    margin-left: 10px;
}
.modal-cover .modal-detail-block .icon-delete {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: inline-block;
}
.modal-cover .modal-detail-block .icon-delete:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    display: inline-block;
    border: 1px solid #8A8E99;
    -webkit-transform: rotateZ(45deg);
       -moz-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    top: 7px;
}
.modal-cover .modal-detail-block .icon-delete:after{
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    display: inline-block;
    border: 1px solid #8A8E99;
    -webkit-transform: rotateZ(-45deg);
       -moz-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    top: 7px;
}

.modal-cover .modal-detail-block .icon-delete:hover:before,
.modal-cover .modal-detail-block .icon-delete:hover:after{
    border-color: #C7000B;
}

@media only screen and (max-width:768px) and (min-width:320px){
    /*移动端弹框*/
    .modal-cover .modal-detail-block {
        padding: 24px;
    }
    .modal-cover .modal-detail-block .modal-title {
        font-size: 16px;
        line-height: 20px;
        padding-left: 24px;
        height: 20px;
    }
    .modal-cover .modal-detail-block .modal-title:before {
        width: 18px;
        height: 18px;
    }
    .modal-cover .modal-detail-block .icon-delete {
        width: 12px;
        height: 12px;
        right: 16px;
        top: 16px;
    }
    .modal-cover .modal-detail-block {
        width: -webkit-calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        width: calc(100% - 30px);
    }
    .modal-cover .modal-detail-block .warning-box .icon-warning {
        margin-right: 15px;
        height: 30px;
    }
    .modal-cover .modal-detail-block .warning-box .warning-detail {
        font-size: 14px;
        line-height: 20px;
    }
}
.cui-certifiedinfo .demo-ejs-identity .identity-content .nav-list>span.radio-icon i.sel{
	background-image:url(https://www.huaweicloud.com/content/dam/cloudbu-develop/archive/china/zh-cn/developer/developer-page/images/common/radio-select.svg);
}
@media only screen and (min-width:769px){
	.register-block .mobile-loader{
		display:none;
    }
}
.container-blog-list .common-blog-text{
	max-height:66px;
}
.personal-center-content-nav .btn-entry-iblognew,.personal-center-content-nav .btn-entry-myask{
	margin-top: 20px;
}
.content-left .review .section-body .review-slide .review-item .card-item .img-container img{
	max-width: 312px;
}
.connect-write-content .edui-default .edui-editor-breadcrumb{display:none;}

#myMsg span {
    width: auto;
    min-width: 16px;
    background-color: #c7000b;
    padding: 0 4px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    color: #fff!important;
    margin-left: 4px;
}

.maintenance-cover{
	position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(2,2,2,.3);
    z-index: 9999;
    top: 0;
    left: 0;
    font-size: 0;
}
.maintenance-cover .maintenance-block{
	width: 400px;
	height: 270px;
	opacity: 1;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 30px 0;
}
.maintenance-cover .maintenance-block .maintenance-title{
	font-size: 22px;
    color: #252b3a;
    text-align: left;
    padding-left: 30px;
    height: 28px;
    line-height: 28px;
    position: relative;
}
.maintenance-cover .maintenance-block .maintenance-title:before{
	content: "";
	position: absolute;
	display: inline-block;
	width: 3px;
	height: 22px;
	top: 2px;
	left: 0;
	border-left: 3px solid #f66f6a;
}
.maintenance-cover .maintenance-block .maintenance-box{
	padding: 28px 40px 0px 30px;
    margin-bottom: 39px;
}
.maintenance-cover .maintenance-block .maintenance-box .icon-waring{
	width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    background: url(//res.hc-cdn.com/ecology/5.11.207/devcenter/resources2/images/developer-center-second/developer-center-campus/icon-warning.png) no-repeat center/contain;
}
.maintenance-cover .maintenance-block .maintenance-box .waring-detail{
	display: inline-block;
    width: 252px;
    font-size: 18px;
    line-height: 26px;
    color: #252b3a;
    letter-spacing: 0;
    text-align: justify;
    vertical-align: top;
}
.maintenance-cover .maintenance-block .maintenance-btn{
	padding: 0;
    text-align: center;
}
.maintenance-cover .maintenance-block .maintenance-btn .btn.red-btn{
	display: inline-block;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    border: 1px solid #f66f6a;
    border-radius: 2px;
    background: #f66f6a;
    width: 118px;
}
.maintenance-cover .maintenance-block .maintenance-btn .btn.red-btn:hover{
	box-shadow: 0 8px 16px 0 rgba(227, 24, 31, 0.3);
}
.maintenance-cover .maintenance-block .icon-delete{
	background: url(//res.hc-cdn.com/ecology/5.11.207/devcenter/resources2/images/developer-center-second/developer-center-campus/icon-delete.png) no-repeat center;
	content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: inline-block;
}
[maintenance]{
	position: relative;
}
[maintenance] .not-allowed{
	cursor: not-allowed;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
}

@media only screen and (max-width: 768px){
	.maintenance-cover .maintenance-block{
		width: 300px;
		height: 194px;
		padding: 15px 0 30px;
	}
	.maintenance-cover .maintenance-block .maintenance-title{
		font-size: 18px;
		color: #252B3A;
		line-height: 28px;
	}
	.maintenance-cover .maintenance-block .maintenance-box{
		padding: 20px 20px 0 20px;
		margin-bottom: 25px;
	}
	.maintenance-cover .maintenance-block .maintenance-box .icon-waring{
		width: 34px;
		height: 30px;
		margin-right: 15px;
	}
	.maintenance-cover .maintenance-block .maintenance-box .waring-detail{
		font-size: 16px;
		line-height: 22px;
		width: 210px;
	}
	.maintenance-cover .maintenance-block .maintenance-btn .btn.red-btn{
		width: 96px;
		height: 32px;
		line-height: 32px;
	}
}
#content .main-content.main-content-blog-detail .m-blog-user-comment{
	z-index:10007;
}
#content .main-content.main-content-blog-detail .dt-layerbox{
	z-index:1004;
}
#content .comment-mobile-list{
	position:relative;
    padding-bottom:90px;
    margin-bottom:0;
}
#content .main-content-blog-detail .m-blog-list-loading{
	width: calc(100% + .8rem);
    margin: 0 -.4rem;
}
#header .header-container .header-main .header-ad-mb{
	display:none;
}
#ydcomm_home_page .container-blog-list .common-blog-text,#ydcomm_home_page .common-blog-title{
	z-index:0!important;
}
/*二维码*/
	.sidebar-qr-code {
        width: 48px;
        height: 48px;
        background: url(/content/dam/cloudbu-develop/archive/china/zh-cn/developer/developer-page/images/common/icon_erweima.svg) no-repeat center/cover!important;
        position: absolute;
        bottom: calc(100% + 145px);
        margin-bottom:10px;
        right: 0px;
        z-index: 10;
    }
    #sidebarQrcodeCanvas{
        font-size: 0;
    }
    
    .sidebar-qr-code-content {
        padding: 10px;
        position: absolute;
        display: none;
        bottom: 100%;
        margin-bottom:10px;
        right: 0px;
        background-color: #fff;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
        z-index: 2;
        -webkit-transition: .5s linear;
        -o-transition: .5s linear;
        -moz-transition: .5s linear;
        transition: .5s linear
    }

    .sidebar-qr-code-content h5 {
        color: #666a75;
        margin-top: 7px;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
    }

    .sidebar-qr-code:hover .sidebar-qr-code-content {
        display: block;
    }
   	.footer-qr-code{
		display:none!important;
    }
    #back-to-top.show{display:none!important;}
    @media only screen and (max-width:1023px){
		.sidebar-qr-code{display:none;}
         #back-to-top.show{display:block!important;}
    }
    @media only screen and (min-width:768px){
		#blogContent.cloud-blog-detail-content p{
			font-size:16px!important;
        }
    }
    .activity-intro #intro ol,.activity-intro #intro ul{
		font-size:16px;
        margin:0;
        padding-left:40px;
    }
    .footer-icon-support {
		background-image: url(https://res.hc-cdn.com/cnpm-header-and-footer/1.1.0/base/footer-china/components/service/images/support.svg);
    }
    .footer-icon-record {
		background-image: url(https://res.hc-cdn.com/cnpm-header-and-footer/1.1.0/base/footer-china/components/service/images/record.svg);
    }
    .footer-icon-vip {
		background-image: url(https://res.hc-cdn.com/cnpm-header-and-footer/1.1.0/base/footer-china/components/service/images/vip.svg);
    }
    .footer-icon-unsub {
		background-image: url(https://res.hc-cdn.com/cnpm-header-and-footer/1.1.0/base/footer-china/components/service/images/unsub.svg);
    }
    .footer-icon-feedback {
		background-image: url(https://res.hc-cdn.com/cnpm-header-and-footer/1.1.0/base/footer-china/components/service/images/feedback.svg);
    }

.pep-recommend-img img{
    width: 100%;
    height: auto !important;
}
#pre_Div #preAttachment .attachment{
	display:list-item
}
#community_home_ydcomm .right-btn-group {
	display:none;
}
@media (max-width: 768px) {
    #community-home-banner .por-carousel-slide a.pc-banner {
        display: none!important;
    }

}
#content.activity .wrapper-top .activity-poster ~ .lead-poster{
	background: url(https://res-static1.huaweicloud.com/content/dam/cloudbu-develop/archive/china/zh-cn/developer/developer-page/images/developer-center-second/eventsbanner-PC.jpg) no-repeat center/cover;
}
@media only screen and (max-width: 1024px) {
	#content.activity .wrapper-top .activity-poster ~ .lead-poster{
		background: url(https://res-static1.huaweicloud.com/content/dam/cloudbu-develop/archive/china/zh-cn/developer/developer-page/images/developer-center-second/eventsbanner-MB.jpg) no-repeat center/cover;
	}
}
/*标签统一提醒弹窗弹框*/
.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.label-prompt-modal-content {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 240px;
  width: 700px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  margin: auto !important;
  background: #fff;
  padding: 40px 32px;
  border-radius: 2px;
}

.select-section {
  padding: 32px 30px;
  max-height: 470px;
}

.label-prompt-modal-content-success-label {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 240px;
  width: 700px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  margin: auto;
  background: #fff;
  padding: 80px 238px;
  text-align: center;
  border-radius: 2px;
}

.label-prompt-title {
  margin: 0 auto;
  text-align: center;
  line-height: 26px;
}

.label-prompt-title a {
  color: #c7000b;
  cursor: pointer;
}

.label-prompt-list {
  margin-top: 16px;
  overflow: hidden;
}

.select-section-box {
  margin-top: 16px;
  width: 640px;
  height: 300px;
  border: 1px solid #dfe1e6;
  overflow: hidden;
}

.label-prompt-label {
  float: left;
  max-height: 56px;
  line-height: 28px;
  background-color: #f5f5f6;
  padding: 0 12px;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 2px;
}

.label-prompt-label:hover {
  color: #c7000b;
}

.label-prompt-list .label-prompt-label.active {
  color: #c7000b;
}

.prompt-btn {
  text-align: center;
  background: #fff;
  margin-top: 25px;
  width: 100%;
}

.select-section-btn {
  margin-top: 24px;
}

.prompt-cancel {
  margin-left: 12px;
}

.label-prompt-more {
  float: left;
  cursor: pointer;
  margin-left: 12px;
}

.label-prompt-more span {
  vertical-align: -2px;
}

.prompt-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: #8a8e99;
}

.label-prompt-close-check {
  position: absolute;
  right: 60px;
  top: 15px;
}

#labelTip .por-checkbox-inline label {
  font-size: 12px;
  line-height: 18px;
  color: #575d6c;
  margin-left: 0;
}

#successTips .por-modal-icon {
  margin: 0 98px 10px;
  vertical-align: 0%;
}

.section-block {
  position: relative;
  overflow: hidden;
  float: left;
  border-right: 1px solid #dfe1e6;
  width: 213px;
  height: 300px;
}

.section-block-first {
  width: 212px;
}

.section-block-last {
  border-right: none;
}

.section-list {
  position: absolute;
  top: 10px;
  width: 100%;
  left: 0px;
}

.section-item {
  display: block;
  line-height: 38px;
  padding: 0 20px;
  color: #252b3a;
  font-size: 14px;
  height: 38px;
  cursor: pointer;
  position: relative;
}

.section-item:hover {
  background-color: #f5f5f6;
  color: #c7000b;
}

.section-item-active {
  background-color: #f5f5f6;
  color: #c7000b;
}

.section-block-last .section-item-active {
  background-color: #c7000b;
  color: #fff;
}

.section-item .por-icon-right {
  position: absolute;
  right: 10px;
  top: 12px;
}

.prompt-btn .prompt-confirm.disabled {
  background-color: #eef0f5;
  border-color: #dfe1e6;
  color: #adb0b8;
}

.prompt-confirm.por-btn-small {
  padding-left: 31px;
  padding-right: 31px;
}

#labelTip .por-checkbox {
  margin-right: 4px;
}

#labelTip .por-checkbox input[type=checkbox] {
	display: inline-block;
}

@media only screen and (max-width: 768px) {
  .label-prompt-modal-content {
    text-align: left;
    max-height: 345px;
    width: 340px;
    padding: 46px 20px 32px;
  }

  .label-prompt-title {
    text-align: left;
  }

  .label-prompt-modal-content-success-label {
    max-height: 200px;
    width: 345px;
    padding: 80px 60px 60px;
  }

  .label-prompt-label:hover {
    color: #575d6c;
  }

  .label-prompt-close-check {
    top: 11px;
    right: 50px;
  }

  .prompt-close {
    top: 15px;
  }
}